$color: #e6e6e6;
$fontSize: 14px;
$fontFaminly: "微软雅黑";
$backgroundLeft: #db2f2f;
$background: #c76666;


a,
p,
i,
span,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li {
    color: $color;
    font-size: $fontSize;
    font-family: $fontFaminly;
    padding: 0;
    margin: 0;
    text-decoration: dashed;
    list-style: none;
}

// 阿里字体图标设置
.icon,
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.w100{
    width: 100%;
}
.w75{
    width: 75%;
}
.w50{
    width: 50%;
}
.w25{
    width: 25%;
}
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.drag {
    -webkit-app-region: drag;
}

.flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}


.text-xs {
    font-size: 10px;
}

.text-sm {
    font-size: 12px;
}

.text-df {
    font-size: $fontSize;
}

.text-lg {
    font-size: 16px;
}

.text-xl {
    font-size: 20px;
}

.padding {
    padding: 14px;
}

.padding-sm {
    padding: 12px;
}

.padding-xs {
    padding: 10px;
}

.padding-lg {
    padding: 16px;
}

.padding-lr {
    padding-left: 14px;
    padding-right: 14px;
}

.padding-lr-sm {
    padding-left: 12px;
    padding-right: 12px;
}

.padding-lr-xs {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lr-lg {
    padding-left: 16px;
    padding-right: 16px;
}

.padding-tb {
    padding-top: 14px;
    padding-bottom: 14px;
}

.padding-tb-sm {
    padding-top: 12px;
    padding-bottom: 12px;
}

.padding-tb-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-tb-lg {
    padding-top: 16px;
    padding-bottom: 16px;
}